@page
@model Shop.UI.Pages.Checkout.PaymentModel
@{
}

<h2>Payment (еще не завезли)</h2>
<form method="post">
    <div>
        <button>Подтвердить платеж</button>
        <a class="nav-link text-dark" asp-area="" asp-page="/Index">-Оппа... А это что?     -А это заглушка</a>
    </div>
</form>

<hr />
<a>Fuck the stripe</a>

@section scripts{
    <script src="https://js.stripe.com/v3/"></script>
    <script>

    </script>
}
