<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.UI</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bulma-0.9.0/css/bulma.css" rel="stylesheet" />
</head>
<body>
    <h3 class="has-text-centered">Панель администратора</h3>

    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>



    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="menu">
                    <p class="menu-label"> Меню администратора </p>
                    <ul class="menu-list">
                        <li><a asp-page="/Admin/Index">Товары</a></li>
                        <li><a asp-page="/Admin/Orders">Заказы</a></li>
                        <li><a asp-page="/Admin/Stock">Склад</a></li>
                    </ul>
                    <p class="menu-label"></p>
                    <ul class="menu-list">
                        <li><a asp-page="/Index">Назад</a></li>
                    </ul>
                </div>
            </div>

            <div class="column is-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Shop.UI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
