@page
@model Shop.UI.Pages.Admin.IndexModel
@{
}

<div id="app" class="container">
    <div v-if="!editing">
        <button class="button" @@click="newProduct">Добавить товар</button>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Товар</th>
                <th>Цена</th>
                <th></th>
                <th></th>
            </tr>
            <tr v-for="(product, index) in products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.value}}</td>
                <td><a @@click="editProduct(product.id, index)">Редактировать</a></td>
                <td><a @@click="deleteProduct(product.id, index)">Удалить</a></td>
            </tr>
        </table>
    </div>
    <div v-else>
        <div class="field">
            <label class="label">Название товара</label>
            <div class="control">
                <input class="input" v-model="productModel.name" />
            </div>
        </div>
        <div class="field">
            <label class="label">Описание товара</label>
            <div class="control">
                <input class="input" v-model="productModel.description" />
            </div>
        </div>
        <div class="field">
            <label class="label">Цена товара</label>
            <div class="control">
                <input class="input" v-model.number="productModel.value" />
            </div>
        </div>
        <button class="button is-success" @@click="createProduct" v-if="!productModel.id">Добавить товар</button>
        <button class="button is-warning" @@click="updateProduct" v-else>Редактировать</button>
        <button class="button" @@click="cancel">Выход</button>
    </div>
</div>


@section scripts
{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/Admin/products.js"></script>
}
