@page
@model OrdersModel
@{
}

<div id="app">
    <div v-if="selectedOrder === null">
        <div class="tabs is-centered">
            <ul>
                <li v-bind:class="{'is-active': status === 0}"><a @@click="status = 0">Принято</a></li>
                <li v-bind:class="{'is-active': status === 1}"><a @@click="status = 1">Упаковывается</a></li>
                <li v-bind:class="{'is-active': status === 2}"><a @@click="status = 2">Отправлено</a></li>
            </ul>
        </div>
        <div v-if="orders.length > 0">
            <p v-for="order in orders">
                <a @@click="selectOrder(order.id)">{{order.orderRef}} - {{order.email}}</a>
            </p>
        </div>
    </div>
    <div v-else>
        <p>
            <button @@click="exitOrder()">Назад</button>
        </p>
        <table class="table">
            <tr>
                <td>
                    <p class="title">{{selectedOrder.orderRef}}</p>
                    <hr />
                    <p class="subtitle">{{selectedOrder.firstName}}</p>
                    <hr />
                    <p class="subtitle">{{selectedOrder.lastName}}</p>
                    <hr />
                    <p class="subtitle">{{selectedOrder.email}}</p>
                    <hr />
                    <p class="subtitle">{{selectedOrder.phoneNumber}}</p>
                    <hr />
                    <p class="subtitle">{{selectedOrder.address1}}</p>
                    <hr />
                    <p class="subtitle">{{selectedOrder.address2}}</p>
                    <hr />
                    <p class="subtitle">{{selectedOrder.city}}</p>
                    <hr />
                    <p class="subtitle">{{selectedOrder.postCode}}</p>
                </td>
            </tr>
        </table>
        <button v-if="status < 2" @@click="updateOrder()">Обновить статус</button>
    </div>
</div>

@section scripts{
    <script src="~/js/Admin/orders.js"></script>
}
