@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.UI</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bulma-0.9.0/css/bulma.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" asp-page="/Index">
                <img src="http://lloydsaudio.com/wp-content/uploads/2018/04/jazz_guitar_vector_by_edwardg94-d9y8anf.png" width="95" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">

            <div class="navbar-end">
                @await Component.InvokeAsync("Cart", new { view = "Small" })

                @if ((await authService.AuthorizeAsync(User, null, "Admin")).Succeeded)
                {
                    <div class="navbar-item">
                        <a asp-page="/Admin/Index">Admin</a>
                    </div>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-item">
                        <a asp-controller="Account" asp-action="Logout">Sign Out</a>
                    </div>
                }
                else
                {
                    <div class="navbar-item">
                        <a asp-page="/Accounts/Login">Sign In</a>
                    </div>
                }
            </div>
        </div>
    </nav>

    <div class="container" id="Container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <hr />


    <footer class="border-top footer text-muted">        
        <div class="content has-text-centered">
            <p>Снизу ничего больше нет</p>
        </div>
    </footer>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
