@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div>
        <form method="post">
            <label>Название</label>
            <input asp-for="Product.Name" />
            <label>Описание</label>
            <input asp-for="Product.Description" />
            <label>Стоимость</label>
            <input asp-for="Product.Value" />
            <input type="submit" value="Сохранить Гитару"/>
        </form>
    </div>
